<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.launchd_helperd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/sbin/launchd_helperd</string>
	</array>
	<key>OnDemand</key>
	<false/>
	<key>Nice</key>
	<integer>1</integer>
	<key>FileSystemSyncInterval</key>
	<integer>30</integer>
	<key>FileSystemEnergySavingSyncInterval</key>
	<integer>30</integer>
	<key>LowPriorityIO</key>
	<true/>
</dict>
</plist>
