<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<true/>
	<key>Label</key>
	<string>com.apple.ftpd</string>
	<key>Program</key>
	<string>/usr/libexec/ftpd</string>
	<key>ProgramArguments</key>
	<array>
		<string>ftpd</string>
		<string>-l</string>
	</array>
	<key>inetdCompatibility</key>
	<dict>
		<key>Wait</key>
		<false/>
	</dict>
	<key>Sockets</key>
	<dict>
		<key>Listeners</key>
		<dict>
			<key>SockServiceName</key>
			<string>ftp</string>
			<key>Bonjour</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
